{% extends "uber/templates/registration/index_base.html" %}

{% block tableheadings %}
    <th><a href="index?order={{ order.camping_type }}">Camping/Cabin Type</a></th>
    <th><a href="index?order={{ order.meal_plan }}">Meal Plan</a></th>
    {{ super() }}
{% endblock tableheadings %}

{% block tablerows %}
    <td>
        {{ attendee.camping_type_label }}{% if attendee.camping_type == c.CABIN %} ({{ attendee.cabin_type_label }}){% endif %}
    </td>
    <td>
        {{ attendee.meal_plan_label }}
    </td>
    {{ super() }}
{% endblock tablerows %}
