{% extends "registration/new_base.html" %}

{% block tableheadings %}
    <th>Site Number</th>
    <th>License Plate</th>
    {{ block.super }}
{% endblock tableheadings %}

{% block tablerows %}
    <td>
        <select form="new_checkin" name="site_number">
            <option value="">Choose a campsite, if applicable</option>
            {% options c.CAMPSITE_OPTS attendee.site_number %}
        </select>
    </td>
    <td><input form="new_checkin" type="text" size="8" name="license_plate" placeholder="License" value="{{ attendee.license_plate }}" /></td>
    {{ block.super }}
{% endblock tablerows %}
