{% extends "uber/templates/preregistration/preregbase.html" %}
{% block title %}Preregistration is now closed{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

MAGStock pre-registration has closed.

We'll see everyone June 17 - 19 2016.

Full weekend passes may be available at the door for $70. We do not anticipate selling out tickets, so you should have no problem purchasing a pass at-event, however our meal plans are sold out.

Please contact us if you have any questions.

{% endblock %}


