<html>
<head></head>
<body>

You ({{ attendee.full_name }}) have preregistered for {{ c.EVENT_NAME }}
{% if attendee.group %}
    by claiming one of the badges in the {{ attendee.group.name }} group.
{% else %}
    and your payment of {{ (attendee.amount_paid / 100)|format_currency }} has been received.
{% endif %}
Your registration confirmation number is {{ attendee.id }}, and you can update your information, preorder merch, or donate
extra money <a href="{{ c.URL_BASE }}/preregistration/confirm?id={{ attendee.id }}">here</a>.

<br/> <br/>

No registration materials are physically mailed before the event, so you should check in at the registration desk when you arrive at MAGStock. Simply bring a photo ID to the registration desk, where you'll be provided with your admission wristband.
If you pre-ordered a merch package, you can also pick those up at the merch area. The location and hours of the merch area will be available online prior to the event.

{% if attendee.donation_swag|list + attendee.addons|list %}
    <br/> <br/>
    Your additional payment of {{ (attendee.amount_extra + attendee.default_meal_plan_cost + attendee.default_camping_type_cost)|format_currency }} provides you with these add-ons:
    <ul>
    {% for swag in attendee.donation_swag|list + attendee.addons|list %}
        <li>{{ swag }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% include "emails/reg_workflow/reg_notes.html" %}

{% if attendee.is_transferable %}
    <br/> <br/>
    {{ c.EVENT_NAME }} has a no-refund policy for all registrations.  If for any reason you can't make it, we allow and encourage
    you to resell your registration for the exact price you paid for it.  To transfer your registration to another person,
    send them <a href="{{ c.URL_BASE }}/preregistration/transfer_badge?id={{ attendee.id }}">this personalized link</a>,
    which will work until {{ c.UBER_TAKEDOWN|datetime_local }}.
{% endif %}

</body>
</html>
