{% extends 'uber/templates/forms/attendee/admin_consents.html' %}

{% block required %}
{{ super() }}

{% set allow_waiver_signature = not consents.waiver_signature or attendee.is_new or attendee.placeholder %}

{% if allow_waiver_signature %}
    <div class="row g-sm-3 mb-3">
        <div class="col-12 col-sm-6">{{ form_macros.input(consents.waiver_signature) }}</div>
        <div class="col-12 col-sm-6">{{ form_macros.input(consents.waiver_date) }}</div>
    </div>
{% else %}
    <div class="d-none">
    {{ form_macros.input(consents.acknowledged_checkin_policy)}}
    {{ form_macros.input(consents.waiver_consent)}}
    </div>

    <div class="row g-sm-3 mb-3">
        <div class="col-12 col-sm-6">{{ form_macros.input(consents.waiver_signature, readonly=True) }}</div>
        <div class="col-12 col-sm-6">{{ form_macros.input(consents.waiver_date, readonly=True) }}</div>
    </div>
{% endif %}
{% endblock %}