{% extends 'uber/templates/forms/attendee/personal_info.html' %}

{% block x_data %}
    {{ super() }}
    get cellphoneRequired() { return !this.no_cellphone && !this.copy_cellphone && !this.unassignedOrPlaceholder },
{% endblock %}

{% block address %}
{% if attendee.badge_type == c.PSEUDO_DEALER_BADGE or 'transfer_badge' in c.PAGE_PATH or 'badge_transfer' in c.PAGE_PATH %}
{% if c.ADDONS_ENABLED %}
<input type="hidden" name="cabin_type" value="0" />
{% else %}
<input type="hidden" name="camping_type" value="{{ c.TENT }}" />
<input type="hidden" name="cabin_type" value="0" />
<input type="hidden" name="meal_plan" value="{{ c.NO_FOOD }}" />
{% endif %}
{% endif %}
{% if c.AT_THE_CON %}
<div class="row g-sm-3 mb-3">
    {{ super() }}
    <div class="col-12 col-sm-6">{{ form_macros.input(personal_info.license_plate) }}</div>
</div>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}