{% extends 'uber/templates/forms/attendee/prereg_other_info.html' %}

{% block staffing %}
    <div class="col-12">
        {{ form_macros.input(other_info.staffing, alpine_model="staffing") }}
        <div class="d-none">
            {{ form_macros.input(other_info.cellphone) }}
            {{ form_macros.input(other_info.no_cellphone, alpine_model="no_cellphone") }}
        </div>
    </div>
    {% if c.PUBLIC_DEPARTMENT_OPTS_WITH_DESC|length > 1 %}
    </div>
    <div class="row g-3 mb-3">
        <div class="col-12" x-show="staffing">{{ form_macros.input(other_info.requested_depts_ids) }}</div>
    {% endif %}
{% endblock %}

{% block prereg_extras %}
{{ super() }}

<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(other_info.acknowledged_checkin_policy) }}</div>
</div>

<div class="text-center">
    <strong>We require all attendees to sign a waiver before registering.</strong> Please 
    {{ macros.popup_link("../static_views/waiver.html", "view the waiver here") }}, then sign below.
</div>

{# The waiver validation needs to check first/last name, so they need to exist on this form. #}
{{ other_info.first_name }}
{{ other_info.last_name }}
{{ other_info.legal_name }}

<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(other_info.waiver_signature) }}</div>
    <div class="col-sm">
        {{ form_macros.input(other_info.waiver_date, value=now()|datetime_local("%Y-%m-%d")) }}
    </div>
</div>

<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(other_info.waiver_consent) }}</div>
</div>
{% endblock %}