body {
    background-color: black;
}

.masthead {
    padding-top: 30.86%; /* The height is 30.86% of the width (500 / 1620px) */
}

@media
only screen and (min-resolution:2dppx) {
    .masthead { background-image: url("../theme/banner_2x.png"); }
}