body {
    background-color: white;
}

.masthead {
    padding-top: 21.71%; /* The height is 21.71% of the width (370 / 1704) */
}

@media
only screen and (min-resolution:2dppx) {
    .masthead { background-image: url("../theme/banner_2x.png"); }
}