body {
    background-color: white;
}

.masthead {
    padding-top: 40.66%; /* The height is 40.66% of the width (1500 / 610px) */
}

@media
only screen and (min-resolution:2dppx) {
    .masthead { background-image: url("../theme/banner_2x.png"); }
}