{% extends "uber/templates/base.html" %}{% set admin_area=True %}
{% block title %}MAGStock Food Report{% endblock %}
{% block content %}
<h2 class="center">MAGStock Food Report</h2>

<div class="card">
    <div class="card-header">Brunch/Dinner Ticket Totals</div>
    <div class="card-body">
        <a href="food_consumers_report">
            <span class="glyphicon glyphicon-download"></span> Download CSV
        </a>
        <p><strong>{{ total_data['attendee_count'] }}</strong> attendees with meal plans</p>
        <p><strong>{{ total_data['beverage'] }}</strong> attendees with beverage plans</p>
        <p><strong>{{ total_data['full_food'] }}</strong> attendees with full meal plans</p>
        <p>Dietary restrictions for attendees with full meal plans:
            <ul>
                {% for restriction, label in c.MEAL_TICKET_RESTRICTION_OPTS %}
                <li><strong>{{ label }}</strong>: {{ total_data[restriction] }}</li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-header">Attendees with Meal Plans</div>
    <div class="card-body">
        <table class="table table-striped datatable">
            <thead>
                <th>Attendee</th>
                <th>Meal Plan Type</th>
                <th>Meal Restrictions</th>
                <th>Group Name</th>
                <th>Badge Type</th>
                <th>Paid?</th>
            </thead>
            <tbody>
                {% for attendee in total_data['attendees'] %}
                <tr>
                    <td>{{ attendee|form_link }}</td>
                    <td>{{ attendee.meal_plan_label }}</td>
                    <td>
                        {% if attendee.meal_plan != c.FULL_FOOD %}
                            N/A
                        {% else %}
                            {% for restriction in attendee.meal_restrictions_ints %}
                            {{ c.MEAL_TICKET_RESTRICTIONS[restriction]|readable_join }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ attendee.group.name }}</td>
                    <td>{{ attendee.badge_type_label }}</td>
                    <td data-sort="{{ total_data['owe_money'][attendee.id] }}">
                        {% if total_data['owe_money'][attendee.id] %}No (owes {{ total_data['owe_money'][attendee.id]|format_currency }})
                        {% else %}Yes{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
