<!doctype html>
<html>
<head>
  <title>MAGStock Merch</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>MAGStock Merch</h1>

<p>We've got some real tasty, home-grown merch for you this year! With three packs to choose from, we're sure you'll find the perfect bundle of gear to bring back to the farm.</p>
<p>With the T-Shirt Tier, you'll get our thematic t-shirt in your size, a branded carabiner/bottle opener, and a super stylish enamel pin, the perfect accessory for your overalls!</p>
<p>Next up is the Iridium Tier, and it's about to get good! In addition to everything in the T-Shirt Tier, you'll be getting a custom printed bandana, an official MAGStock Koozie, an awesome custom tote bag with a cooler lining to keep all your drinks cool, and [drumroll please] a plushy of our new MAGStock mascot, Fredward H. Wednesday the frog! And he is absolutely ADORABLE.</p>
<p>But if that's not enough for you, you might as well go big with the Prairie King Tier. You'll get everything we've already talked about, plus some truly insane swag. First off, a custom printed MAGStock blanket, for those chilly summer nights. Next we have an LED flashlight for you, so you can water your crops in the dark. Plus a custom designed fanny pack, as well as a full print Nalgene (yes, actually Nalgene brand) water bottle! All this, plus a surprise that'll be customized just for you! You'll just have to trust us that it's cool.</p>
<p>T-Shirt Tier is $30, Iridium Tier is $70, and the enormous Prairie King Tier is $180. And ALL of these packages are fantastic, and help support MAGStock! <3</p>

</body>
</html>
