<!doctype html>
<html>
<head>
  <title>Mayor's Package</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Mayor's Package</h1>

<p>
  At this point you're just giving us money, and that's awesome. Our super supporters have helped us
  do a ton of really awesome things in the past -- building a 200' slip n' slide, build a new stage,
  and invite bands to MAGStock from across the country. In return you have our eternal gratitude.

  ... but you wanted swag, right? This year, the super supporter package includes:
  <ul>
      <li>A MAGStock T-Shirt - Printed on soft cotton blend, this shirt is great indoors or out.</li>
      <li>A MAGStock Nalgene - Help save the environment with a high-quality reusable waterbottle. This year we are adding chilled filtered water dispensers at the campground, so you'll have a place to fill this waterbottle.</li>
      <li>A MAGStock Bandana - Keep cool in the hot sun, or dress up as a robber! A stylish addition to any ensemble.</li>
      <li>A sticker pack - Does your laptop need more MAGStock? How about your bag? Add some color to anything with these!</li>
      <li>MAGStock Silverware - Skip the disposable plastic and help the environment with reusable silverware!</li>
      <li>Sleepmask - Sometimes the sun comes up too early. Sleep in and wake up on your own terms with this comfortable sleeping mask.</li>
  </ul>
</p>
<p>
  Do you routinely make poor financial decisions? Are you prone to erratic
  unpredictable actions? Then this definitely is something that you need to
  get in on.
</p>

<img src="../static/swag/theme.png">

</body>
</html>
