<!doctype html>
<html>
<head>
  <title>Pioneer Package</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Pioneer Package</h1>

<p>
  People always ask us how they can donate even more money to us to get even
  cooler stuff. Lightsuits, guitars, wood etched posters -- we make some crazy
  stuff in super limited quantities for the people who want it the most.
</p>
<p>
  Do you routinely make poor financial decisions? Are you prone to erratic
  unpredictable actions? Then this definitely is something that you need to
  get in on.
</p>

<img src="../static/swag/theme.png">

</body>
</html>
