<html>
<head>
    <title> Volunteer Compensation </title>
</head>
<body>

<h3 align="center"> What You Get For Volunteering </h3>

The more hours you work, the more you get (don't forget about <a href="weightDesc.html">weighted hours</a>):
<ul>
    <li> Working at least 8 hours gets you a {{ c.EVENT_NAME }} t-shirt. <br/><br/> </li>
    <li> Working at least 16 hours gets you free food for the duration of the event. (You must have signed up for this number of shifts at least a week prior to the start of the event.) <br/><br/> </li>
    <li> Working at least {{ c.HOURS_FOR_REFUND }} hours gets you a refund on your badge for this year. <br/><br/> </li>
</ul>

</body>
</html>
