<!DOCTYPE html>
<html>
<head>
    <title>MAGStock Volunteering</title>
</head>
<body>

<h3 align="center"> MAGStock Volunteering </h3>

MAGStock runs a bit leaner than Fest, but we still need your help! If it's your first year, we recommend volunteering for no more than 
a few shifts so you have time to enjoy all the awesomeness.

<br/> <br/>

While there is no specific volunteer compensation, we will try to make sure you receive at least something for your time: food, 
a shirt, some swag, or even a badge comp. But really, what's worth more than the gratitude of grateful organizers who love it when 
awesome people pitch in to do great things! We will definitely remember your name :)

</body>
</html>
