<!doctype html>
<html>
<head>
  <title>Scream Queen</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Scream Queen</h1>

<p>
  You’re not just surviving the night -- you’re <em>thriving</em> in it. The Scream Queen Tier includes everything from the Chasin’
  Jason Tier, but that’s just the first act. You’ll also get a <strong>MAGStock patch</strong>, the <strong>Fright or Flight 
  tube socks & sweatband combo</strong> to keep you looking fresh while you run for your life, and a <strong>4-in-1 beverage holder</strong>
  so you can hydrate while you die-drate.
</p>

<p>
  But the real heart-stopper? A <strong>cozy outdoor picnic blanket</strong> for stargazing... or keeping watch for anything lurking
  in the woods. Plus, a versatile <strong>wet/dry bag</strong> to store all your gear (or… evidence), and <strong>MORE Secret Items</strong>
  that we can’t reveal yet—but you won’t want to be caught dead without them!
</p>

<img src="../static/swag/shirt.png">

</body>
</html>
