<!doctype html>
<html>
<head>
  <title>Supporter Package</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Supporter Package</h1>

<p>
  The swag for the Supporter Package will include:
  <ul>
    <li>A MAGStock Nalgene - Help save the environment with a high-quality reusable waterbottle. This year we are adding chilled filtered water dispensers at the campground, so you'll have a place to fill this waterbottle.</li>
    <li>A MAGStock Bandana - Keep cool in the hot sun, or dress up as a robber! A stylish addition to any ensemble.</li>
  </ul>
</p>
<p>
  Along with the above items, your donation helps support the future of MAGStock and allows us to do all sorts of cool things. Thank you!
</p>

<img src="../static/swag/theme.png">

</body>
</html>
