<!doctype html>
<html>
<head>
  <title>Korok Tier</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Korok Tier</h1>

<p>
  This minimalist package includes the bare essentials for any adventurer to stuff into their rucksack and meet their friends by a fire.

  This year, the Korok Tier package includes:
  <ul>
    <li>Themed T-Shirt</li>
    <li>Themed Patch</li>
    <li>Themed Sticker Sheet</li>
    <li>MAGStock-branded Bandana</li>
    <li>MAGStock-branded Sunglasses</li>
  </ul>
</p>

<img src="../static/swag/theme.png">

</body>
</html>
