<!doctype html>
<html>
<head>
  <title>Chasin’ Jason</title>
  <style type="text/css">
    html, html * { font-family: Arial, Helvetica, sans-serif; }
    img { max-width: 100%; }
    h1 { text-align: center; }
  </style>
</head>
<body>

<h1>Chasin’ Jason</h1>

<p>
  You can run, but you can’t hide... from this killer merch pack! The Chasin’ Jason Tier hooks you up with the essentials for surviving
  a slasher summer: a blood-curdlingly cool <strong>ringer tee</strong>, a <strong>MAGStock bandana</strong> (to mop up sweat… or, y’know,
  whatever), a <strong>sticker pack</strong> to haunt all your favorite surfaces, plus our <strong>themed enamel pin</strong>, because
  it’s always a good idea to have something stabby around.
</p>

<p>
  And since every good horror story has an unexpected twist, we’re throwing in a <strong>Secret Item</strong>! What is it?
  We can’t say… but you might want to check <em>right behind you</em>.
</p>

<img src="../static/swag/shirt.png">

</body>
</html>
